<mat-progress-bar *ngIf="showLoader" mode="indeterminate" value="40"></mat-progress-bar>
<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
  <mat-tab label="Marvel Characters" class="w-100">
    <div
      infinite-scroll
      (scrolled)="onScroll()"
      [infiniteScrollDistance]="2"
      [infiniteScrollThrottle]="1000"
    >
      <div class="container mt-3">
        <div class="row" *ngIf="characterData">
          <div class="col-3 mb-3" *ngFor="let character of characterData.results">
            <app-character-card [character]="character"/>
          </div>
        </div>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Request logs">
    <app-log-request-table (loading)="showLoader"></app-log-request-table>
  </mat-tab>
</mat-tab-group>
